# Dependencies
node_modules/
/backend/node_modules
/frontend/node_modules
/backend/crafty_stats.json
/backend/crafty_stats_list.json

# Environment variables
.env
/backend/.env
/frontend/.env

# Build outputs
dist/
build/

# Debug logs
debug_payment.logs